:root {
  --lightbg: rgb(44, 36, 59);
  --bg: rgb(32, 28, 45);
  --darkbg: rgb(24, 22, 36);
  --darkerbg: rgb(18, 17, 27);
  --blackTP: rgba(0, 0, 0, 50%);
  --upgrades: 0;
}

@font-face {
  font-family: renogare;
  src: url("fonts/renogare.otf");
}

@font-face {
  font-family: inconsolata;
  src: url("fonts/inconsolata.ttf");
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--bg);
  font-family: renogare;
}

p,
a {
  color: white;
  margin: 0;
  text-decoration: none;
}

a:hover {
  transform: scale(105%);
}

a:active {
  transform: scale(100%);
}

body {
  margin: 0;
}

.debread {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 1920px;
  background-image: url(images/gradient.png);
  animation: gradient 5s linear infinite;
  display: inline;
}

@keyframes gradient {
  0% {
  }
  100% {
    background-position: 1920px;
  }
}

.topper {
  background-color: var(--darkbg);
  padding: 5px;
}

.topper-divider {
  display: inline;
  color: var(--darkerbg);
}

.goldeneddie {
  position: absolute;
  width: 150px;
  z-index: 10;
  transition: transform ease-in-out 2s;
  transform: scale(0%);
  cursor: pointer;
}

.settings {
  position: absolute;
  margin: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 0.25s ease-in-out, width 0.25s ease-in-out,
    height 0.25s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  z-index: 3;
}

.settings-header {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.settings-text {
  width: 100%;
  text-align: center;
  padding-right: 40px;
  transition: color 0.1s ease-in-out;
}

.settings-img {
  cursor: pointer;
  filter: invert();
  width: 30px;
  margin: 5px;
  z-index: 2;
}

.settings-img:hover {
  transform: scale(110%);
}

.settings-img:active {
  transform: scale(100%);
}

.settings-title {
  text-align: center;
  font-size: 1.25em;
  position: absolute;
}

.settings-content {
  transition: opacity, 0.25s ease-in-out;
  text-align: center;
  opacity: 1;
}

.settings-text {
  font-size: 1.25em;
}

.settings-deletebutton {
  background-color: var(--darkbg);
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
  cursor: pointer;
  margin-top: 30px;
}

.settings-deletebutton:hover {
  transform: scale(105%);
}

.settings-deletebutton:active {
  transform: scale(100%);
}

.settings-defaultbutton {
  background-color: var(--darkbg);
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  cursor: pointer;
  margin-top: 10px;
}

.settings-defaultbutton:hover {
  transform: scale(105%);
}

.settings-defaultbutton:active {
  transform: scale(100%);
}

.setting-1 {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.setting-checkbox-1-text {
  font-size: 1.25em;
}

.settings-checkbox {
  width: 25px;
  filter: invert();
  cursor: pointer;
}

.settings-checkbox:hover {
  transform: scale(110%);
}

.settings-checkbox:active {
  transform: scale(100%);
}

.setting-checkbox-2-text {
  font-size: 1.25em;
}

.credits {
  position: absolute;
  top: 60px;
  margin: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  transition: width ease-in-out 0.25s, height ease-in-out 0.25s,
    background-color ease-in-out 0.25s;
  z-index: 2;
}

.credits-img {
  filter: invert();
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.credits-img:hover {
  transform: scale(110%);
}

.credits-img:active {
  transform: scale(100%);
}

.credits-header {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.credits-text {
  width: 100%;
  text-align: center;
  padding-right: 40px;
  transition: color 0.1s ease-in-out;
}

.credits-content {
  transition: opacity, 0.25s ease-in-out;
  text-align: center;
  opacity: 0;
}

.credits-link {
  cursor: pointer;
  font-size: 1.25em;
}

.credits-link:hover {
  font-size: 1.35em;
}

.stats {
  position: absolute;
  top: 100px;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.stats-img {
  filter: invert();
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.stats-img:hover {
  transform: scale(110%);
}

.stats-img:active {
  transform: scale(100%);
}

.devtools {
  position: absolute;
  top: 140px;
  margin: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  transition: width ease-in-out 0.25s, height ease-in-out 0.25s,
    background-color ease-in-out 0.25s;
}

.devtools-img {
  filter: invert();
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.devtools-img:hover {
  transform: scale(110%);
}

.devtools-img:active {
  transform: scale(100%);
}

.devtools-header {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.devbutton {
  margin: 0 auto;
  border: 1px solid grey;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.devbutton:hover {
  transform: scale(105%);
}

.devbutton:active {
  transform: scale(100%);
}

.label-left {
  width: 100px;
  height: 20px;
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 5px;
  position: fixed;
  top: 3em;
  left: 60px;
  padding: 5px;
  color: #313333;
  text-align: center;
  font-size: 1.25em;
  transform: translateX(10px);
  transition: transform ease-in-out 0.25s, opacity ease-in-out 0.25s,
    width ease-in-out 0.25s, top ease-in-out 0.25s, height ease-in-out 0.25s;
  opacity: 0;
  color: white;
  cursor: default;
}

.label-left:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 50%);
  position: absolute;
  left: -10px;
  top: 5px;
  margin-left: -10px;
}

.label-footer {
  width: 100px;
  height: 20px;
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 5px;
  padding: 5px;
  color: #313333;
  text-align: center;
  font-size: 1.25em;
  transform: translateY(0px);
  transition: transform ease-in-out 0.25s, opacity ease-in-out 0.25s,
    margin-top ease-in-out 0.25s, width ease-in-out 0.25s;
  color: white;
  cursor: default;
  margin: 0 auto;
  z-index: 6;
  opacity: 0;
}

.label-footer:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 10px solid rgba(0, 0, 0, 50%);
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 55px;
  top: 30px;
  margin-left: -10px;
}

.achievement {
  position: absolute;
  background-color: var(--darkbg);
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  top: 50px;
  left: -250px;
  z-index: 5;
  padding: 5px;
  box-shadow: 0px 0px 10px black;
  transition: left 0.75s cubic-bezier(0.75, -0.5, 0.25, 1.5);
}

.achievement-title {
  font-size: 1.25em;
}

.achievement-desc {
  font-size: 1.1em;
  color: grey;
}

.content-all {
  display: flex;
}

.content-left {
  display: flex;
}

.content-right {
  display: flex;
}

.center {
  text-align: center;
}

.counter-all {
  text-align: center;
  cursor: default;
}

.counter {
  font-size: 4em;
  margin-bottom: 0;
  font-family: renogare;
}

.cps-label {
  display: inline;
  color: gray;
}

.cps {
  display: inline;
  color: gray;
}

.cpc-label {
  display: inline;
  color: gray;
}

.cpc {
  display: inline;
  color: gray;
}

.eddie {
  width: 150px;
  margin: 50px;
  cursor: pointer;
  transition: transform ease-in-out 50ms;
}

.noti {
  text-align: center;
  margin-bottom: 50px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transform: scale(75%);
}

.noti-text {
  background-color: rgba(0, 0, 0, 50%);
  margin: 0 auto;
  width: 100px;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 5px;
}

.eddie:hover {
  transform: scale(105%);
}

.eddie:active {
  transform: scale(100%);
}

.section-info {
  background-color: var(--darkbg);
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  height: 75px;
}

.section-buildings {
  background-color: var(--darkbg);
  padding: 10px;
}

.section-upgrades {
  margin-top: 10px;
  background-color: var(--darkbg);
  height: 120px;
}

.info-title {
  font-size: 2em;
  margin: 0;
}

.info-cps {
  margin: 0;
  display: inline;
}

.info-owned {
  margin: 0;
  display: inline;
}

.info-label {
  display: inline;
}

.buildings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buildings-prices {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.building-price {
  font-size: 1.5em;
  color: red;
  margin: 0;
}

.building {
  width: 75px;
  cursor: pointer;
  filter: brightness(75%);
  padding: 0px;
}

.building:hover {
  transform: scale(105%);
}

.building:active {
  transform: scale(100%);
}

.buildings {
  text-align: center;
}

.upgrades {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(var(--upgrades), 1fr);
}

.upgrade {
  width: 75px;
  padding-top: 10px;
  filter: brightness(75%);
  cursor: pointer;
}

.upgrade:hover {
  transform: scale(105%);
}

.upgrade:active {
  transform: scale(100%);
}

.upgrade-price {
  color: red;
  font-size: 1.5em;
  margin: 0;
}

.savebutton {
  text-align: center;
  background-color: var(--darkbg);
  width: 100px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid var(--darkerbg);
}

.savebutton:hover {
  transform: scale(105%);
}

.savebutton:active {
  transform: scale(100%);
}

.savebutton-text {
  font-size: 1.5em;
}

.footer {
  display: grid;
  align-items: center;
  bottom: 5px;
  width: 100%;
  position: fixed;
  background-color: var(--darkbg);
  height: 60px;
  text-align: center;
  z-index: -1;
}

.footer-center {
  margin: 0 auto;
}

.footer-text {
  display: inline;
  transition: opacity ease-in-out 0.25s;
}

.footer-imgs {
  width: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  filter: invert();
  margin-top: -10px;
}

.footer-img {
  width: 25px;
}

.footer-img:hover {
  transform: scale(110%);
}

.version {
  float: right;
  padding-right: 10px;
  color: grey;
  opacity: 50%;
  bottom: 0;
}
