@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bouncy: cubic-bezier(0,2,.75,1);
}

body {
  margin: 0;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.version {
  position: absolute;
  left: 10px;
  right: 10px;
  z-index: 1;
  font-size: 1.25em;
  font-weight: 900;
  opacity: 0.25;
  color: grey;
}

.version:hover {
  text-decoration: underline;
}

#loader-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transition: opacity ease-in-out 0.5s;
}

#loader {
  width: 100px;
}

#splashText {
  color: grey;
}

#bgVideoContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  filter: blur(10px) brightness(50%);
  z-index: -1;
  background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0px, rgba(0, 0, 0, 0.11) 12px, rgba(1, 1, 1, 0.16) 12px, rgba(1, 1, 1, 0.16) 24px, rgba(0, 0, 0, 0.14) 24px, rgba(0, 0, 0, 0.14) 36px, rgba(0, 0, 0, 0.23) 36px, rgba(0, 0, 0, 0.23) 48px, rgba(0, 0, 0, 0.12) 48px, rgba(0, 0, 0, 0.12) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(0, 0, 0, 0.21) 72px, rgba(0, 0, 0, 0.21) 84px, rgba(0, 0, 0, 0.24) 84px, rgba(0, 0, 0, 0.24) 96px, rgba(1, 1, 1, 0.23) 96px, rgba(1, 1, 1, 0.23) 108px, rgba(1, 1, 1, 0.07) 108px, rgba(1, 1, 1, 0.07) 120px, rgba(0, 0, 0, 0.01) 120px, rgba(0, 0, 0, 0.01) 132px, rgba(1, 1, 1, 0.22) 132px, rgba(1, 1, 1, 0.22) 144px, rgba(1, 1, 1, 0.24) 144px, rgba(1, 1, 1, 0.24) 156px, rgba(0, 0, 0, 0) 156px, rgba(0, 0, 0, 0) 168px, rgba(0, 0, 0, 0.12) 168px, rgba(0, 0, 0, 0.12) 180px), repeating-linear-gradient(90deg, rgba(1, 1, 1, 0.01) 0px, rgba(1, 1, 1, 0.01) 12px, rgba(1, 1, 1, 0.15) 12px, rgba(1, 1, 1, 0.15) 24px, rgba(0, 0, 0, 0.09) 24px, rgba(0, 0, 0, 0.09) 36px, rgba(0, 0, 0, 0.02) 36px, rgba(0, 0, 0, 0.02) 48px, rgba(0, 0, 0, 0.1) 48px, rgba(0, 0, 0, 0.1) 60px, rgba(1, 1, 1, 0.07) 60px, rgba(1, 1, 1, 0.07) 72px, rgba(1, 1, 1, 0.15) 72px, rgba(1, 1, 1, 0.15) 84px, rgba(0, 0, 0, 0.18) 84px, rgba(0, 0, 0, 0.18) 96px, rgba(1, 1, 1, 0.15) 96px, rgba(1, 1, 1, 0.15) 108px, rgba(1, 1, 1, 0.09) 108px, rgba(1, 1, 1, 0.09) 120px, rgba(1, 1, 1, 0.07) 120px, rgba(1, 1, 1, 0.07) 132px, rgba(1, 1, 1, 0.05) 132px, rgba(1, 1, 1, 0.05) 144px, rgba(0, 0, 0, 0.1) 144px, rgba(0, 0, 0, 0.1) 156px, rgba(1, 1, 1, 0.18) 156px, rgba(1, 1, 1, 0.18) 168px), repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 16px, rgba(1, 1, 1, 0.06) 16px, rgba(1, 1, 1, 0.06) 32px, rgba(0, 0, 0, 0.16) 32px, rgba(0, 0, 0, 0.16) 48px, rgba(1, 1, 1, 0) 48px, rgba(1, 1, 1, 0) 64px, rgba(1, 1, 1, 0.12) 64px, rgba(1, 1, 1, 0.12) 80px, rgba(1, 1, 1, 0.22) 80px, rgba(1, 1, 1, 0.22) 96px, rgba(0, 0, 0, 0.24) 96px, rgba(0, 0, 0, 0.24) 112px, rgba(0, 0, 0, 0.25) 112px, rgba(0, 0, 0, 0.25) 128px, rgba(1, 1, 1, 0.12) 128px, rgba(1, 1, 1, 0.12) 144px, rgba(0, 0, 0, 0.18) 144px, rgba(0, 0, 0, 0.18) 160px, rgba(1, 1, 1, 0.03) 160px, rgba(1, 1, 1, 0.03) 176px, rgba(1, 1, 1, 0.1) 176px, rgba(1, 1, 1, 0.1) 192px), repeating-linear-gradient(135deg, rgba(1, 1, 1, 0.18) 0px, rgba(1, 1, 1, 0.18) 3px, rgba(0, 0, 0, 0.09) 3px, rgba(0, 0, 0, 0.09) 6px, rgba(0, 0, 0, 0.08) 6px, rgba(0, 0, 0, 0.08) 9px, rgba(1, 1, 1, 0.05) 9px, rgba(1, 1, 1, 0.05) 12px, rgba(0, 0, 0, 0.01) 12px, rgba(0, 0, 0, 0.01) 15px, rgba(1, 1, 1, 0.12) 15px, rgba(1, 1, 1, 0.12) 18px, rgba(0, 0, 0, 0.05) 18px, rgba(0, 0, 0, 0.05) 21px, rgba(1, 1, 1, 0.16) 21px, rgba(1, 1, 1, 0.16) 24px, rgba(1, 1, 1, 0.07) 24px, rgba(1, 1, 1, 0.07) 27px, rgba(1, 1, 1, 0.23) 27px, rgba(1, 1, 1, 0.23) 30px, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0.2) 33px, rgba(0, 0, 0, 0.18) 33px, rgba(0, 0, 0, 0.18) 36px, rgba(1, 1, 1, 0.12) 36px, rgba(1, 1, 1, 0.12) 39px, rgba(1, 1, 1, 0.13) 39px, rgba(1, 1, 1, 0.13) 42px, rgba(1, 1, 1, 0.2) 42px, rgba(1, 1, 1, 0.2) 45px, rgba(1, 1, 1, 0.18) 45px, rgba(1, 1, 1, 0.18) 48px, rgba(0, 0, 0, 0.2) 48px, rgba(0, 0, 0, 0.2) 51px, rgba(1, 1, 1, 0) 51px, rgba(1, 1, 1, 0) 54px, rgba(0, 0, 0, 0.03) 54px, rgba(0, 0, 0, 0.03) 57px, rgba(1, 1, 1, 0.06) 57px, rgba(1, 1, 1, 0.06) 60px, rgba(1, 1, 1, 0) 60px, rgba(1, 1, 1, 0) 63px, rgba(0, 0, 0, 0.1) 63px, rgba(0, 0, 0, 0.1) 66px, rgba(1, 1, 1, 0.19) 66px, rgba(1, 1, 1, 0.19) 69px), linear-gradient(90deg, rgb(72, 53, 239), rgb(64, 2, 93));
}

#bgVideo {
  position: absolute;
  width: 1920px;
  height: 1080px;
}

#vidCredit {
  position: fixed;
  bottom: 5px;
  left: 5px;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 300px;
}

.contentBoxes {
  display: flex;
  gap: 20px;
}

.contentBox {
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px inset rgb(50, 50, 50), -2px -2px inset rgb(30, 30, 30);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
}

.contentBoxHeader {
  padding: 5px;
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px inset rgb(50, 50, 50), -2px -2px inset rgb(30, 30, 30);
  font-size: 1.25em;
  font-weight: 700;
}

.contentBoxButtons {
  display: flex;
  flex-direction: column;
}

.contentBoxButton {
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px inset rgb(50, 50, 50), -2px -2px inset rgb(30, 30, 30);
  overflow: hidden;
  line-height: 0;
  padding: 5px;
  width: 350px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: line-height ease-in-out 0.25s;
}

.contentBoxButton:hover {
  line-height: 1;
  filter: brightness(110%);
}

.contentBoxDesc {
  opacity: 0;
  color: grey;
  letter-spacing: 0px;
  transition: opacity ease-in-out 0.25s, letter-spacing ease-in-out 0.25s;
}

.contentBoxButton:hover .contentBoxDesc {
  opacity: 1;
  letter-spacing: 0;
}

.contentBoxIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: flex;
  position: relative;
}

#dropDownButton {
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px inset rgb(50, 50, 50), -2px -2px inset rgb(30, 30, 30);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

#dropDownButton:hover {
  filter: brightness(110%);
}

#youtubeDropdown {
  overflow: hidden; 
  height: 0;
  transition: height ease-in-out 0.5s;
}

#dropDownButton:hover #dropDownArrow {
  transform: scale(125%);
}

#dropDownButton:active #dropDownArrow {
  transform: scale(90%);
}

#dropDownArrow {
  transition: rotate ease-in-out 0.25s, transform var(--bouncy) 0.25s;
}

.logo {
  filter: drop-shadow(0 0 10px black);
}

#vidProgress {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: width linear 1s;
}

#vidProgress::after {
  content: " ";
  width: 0px;
  height: 0px;
  z-index: 5;
  border-top: 5px solid transparent;
  border-left: 5px solid white;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: -10px;
  margin-left: -10px;
}

.gameIconContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.gameIcon {
  width: 50px;
  transition: scale var(--bouncy) 0.25s;
  cursor: pointer;
}

.gameIcon:hover {
  animation: gameBounce 0.5s ease-in-out 1 forwards;
}

.gameIcon:active {
  scale: 90%;
}


@keyframes gameBounce {
  0% {
    transform: rotate(7deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

#gameTipContainer {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 6;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

#gameTipContainer span {
  padding: 0 50px;
  background-color: rgba(0, 0, 0, 75%);
  border-radius: 5px;
  font-size: 2em;
}

#gameContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  opacity: 0;
  background-color: rgb(47, 39, 53);
  filter: brightness(0);
  transition: opacity ease-in-out 0.5s, filter ease-in-out 0.5s;
}

#game {
  width: 740px;
  height: 480px;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(media/404bg.png);
  position: relative;
}

#gameMenuTitle {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: opacity ease-in-out 0.5s;
}

.gameBGContainer {
  position: absolute;
  display: flex;
  justify-content: center;
}

.gameBG {
  width: 1920px;
  height: 1080px;
}

.gameLoader {
  width: 740px;
  transition: opacity ease-in-out 0.25s;
  z-index: 2;
}

.gameTitleContainer {
  line-height: 0.9;
  text-align: center;
}

.gameTitle {
  font-size: 2em;
  font-weight: 700;
}

#gamePlayButton {
  background-color: rgba(30, 30, 30);
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0px 30px;
  font-size: 1.5em;
  cursor: pointer;
  border: 3px rgb(40, 40, 40) solid;
}

#gamePlayButton:hover {
  transform: scale(105%);
}

#gamePlayButton:active {
  transform: scale(95%);
}

#gameMain {
  transition: opacity ease-in-out 0.5s;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.boxDisplay {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.boxRow {
  display: flex;
  gap: 10px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
}

.inputContainer {
  display: flex;
  gap: 10px;
}

.inputBox {
  width: 50px;
  height: 50px;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.keyBoardContainer {
  display: flex;
  justify-content: center;
  bottom: 10px;
  left: 0;
}

.keyBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.keyBoardRow {
  display: flex;
  gap: 5px;
}

.key {
  width: 25px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyAnimate {
  animation: keyAnimate 0.5s ease-out 1 forwards;
}

#menuContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu {
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px inset rgb(50, 50, 50), -2px -2px inset rgb(30, 30, 30);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuHeader {
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px inset rgb(50, 50, 50), -2px -2px inset rgb(30, 30, 30);
  padding: 5px;
  width: calc(100% - 20px);
  text-align: center;
}

.menuButton {
  background-color: rgb(40, 40, 40);
  box-shadow: 2px 2px inset rgb(50, 50, 50), -2px -2px inset rgb(30, 30, 30);
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}

.menuButton:active {
  background-color: rgb(25, 25, 25);
  box-shadow: -2px -2px inset rgb(50, 50, 50), 2px 2px inset rgb(30, 30, 30);
}

@keyframes keyAnimate {
  from {
    transform: scale(110%);
  }
  to {
    transform: scale(100%);
  }
}

@media (max-width: 1150px) {
  .contentBoxes {
    flex-direction: column;
    height: unset;
  }
  .contentBoxButton {
    line-height: 0.95;
  }
  .contentBoxDesc {
    opacity: 1;
  }
  body {
    overflow: unset;
  }
}

@media (max-width: 767px) {
  .contentBoxButton {
    line-height: 0.95;
  }
  .contentBoxDesc {
    opacity: 1;
  }
  .contentBoxes {
    flex-direction: column;
  }
  .logo {
    width: 80vw;
  }
  #vidCredit {
    background-color: rgba(0, 0, 0, 50%);
    padding: 5px;
    border-radius: 5px;
  }
  .gameIcon {
    display: none;
  }
  body {
    overflow: unset;
  }
}